DB_URL=jdbc:mysql://localhost:3307/subtrack?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=root
DB_PASSWORD=password
JWT_SECRET=change-this-secret-key
ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=
